/* Global */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Josefin Slab', serif;
}

btn {
    height: 50%;
}

li {
    margin-top: 20px;
}

/* Classes */

.headerImg {
    height: 60px;
	width: 60px;
	margin-right: 12px;
}

.imageBlock {
	position: relative;
}

.imageBlock:hover .imgDescriptWide{
	opacity: 1.0;
	visibility: visible;
}

.imageBlock:hover .imgDescriptShort{
	opacity: 1.0;
	visibility: visible;
}

.imgDescriptShort {
	position: absolute;
	visibility: hidden;
    height: 235px;
    padding-top: 5%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	color: #fff;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.imgDescriptWide {
	position: absolute;
	visibility: hidden;
    height: 235px;
    padding-top: 5%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	color: #fff;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.left-col {
    position: fixed;
    overflow: hidden;
}

.nav-link {
    font-weight: bold;
}

.projectImg {
	margin-bottom: .75rem;
	max-height: 235px;
	min-height: 235px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.85;
}

.projectImgShort {
	margin-bottom: .75rem;
	max-height: 235px;
	min-height: 235px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.85;
}

.resumeEntry {
    font-size: 13px;
	font-weight: bold;
	margin: 7px 0 7px 0;
}

.resumeEntryText {
    font-size: 16px;
	font-weight: bold;
}

.resumeHeadEntry {
	font-size: 20px;
	font-weight: bolder;
}

/* Individual IDs */

#aboutMePhoto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.85;
}

#navList {
    margin-top: -75px;
    margin-left: -50px;
}

#footer {
    background-color: rgb(255, 255, 255);
    margin: 100px 0 75px 0;
}

#headerText {
    margin-top: 125px;
}

@media screen and (max-width: 1350px) {
    #navList {
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px) {
	#navList {
		margin-top: 0%;
	}
	
	.row-offcanvas {
	  position: relative;
	  -webkit-transition: all .25s ease-out;
		   -o-transition: all .25s ease-out;
			  transition: all .25s ease-out;
	}
  
	.row-offcanvas-left {
	  left: 0;
	}
  
	.row-offcanvas-left
	.sidebar-offcanvas {
	  left: -100%;
	}
  
	.row-offcanvas-left.active
	.sidebar-offcanvas {
	  left: -20%; 
	}
  
	.row-offcanvas-left.active {
	  left: 25%;
	}
  
	.sidebar-offcanvas {
	  position: absolute;
	  top: 0;
	  width: 100%;
	}

}

@media screen and (max-width: 575px) {
    #aboutMeText {
        margin-top: 40px;
    }
}